*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
header
{
	width:100%;
	height:38px;
	border-bottom:1px solid grey;
}
header ul li
{  
	height:38px;
	float:left;
	display:inline-block;
	border-bottom:1px solid grey;
	border-top:1px solid grey;
	border-right:1px solid grey;
	padding:5px;
	font-size:13px;
	display:grid;
	align-items:center;
}
.li1
{
	width:3%;
}
.li3
{
	width:40.15%;
}

header ul .hover:hover
{
	background:black;
	color:white;
}
.logo1
{
	width:100%;
	height:121px;
	border-bottom:1px solid grey;
}
.logo2
{
	margin-left:40px;
	padding-top:10px;
	float:left;
	margin-right: 20px;
}
.logo3
{
	padding-top:20px;
	line-height:35px;
	float:left;
}
.logo4
{
	float:right;
	padding-right:40px;
}
.menu1
{
	width:100%;
	height:38px;
	text-align:center;
	border-bottom:1px solid grey;
}
.menu1 li
{
	display:inline-block;
		padding:10px 15px;
		color:black;
}

.menu1 li:hover
{
	background:#9e6b22;
	color:white;
}
.game1
{
	width:100%;
	height:380px;
	position:relative;
}
.banner2
{
	position:absolute;
	bottom:0px;
	font-size:30px;
	padding:20px;
	text-align:center;
	width:100%;
	background:rgba(150,99,25,0.91);
	color: white;
}

.marquee1
{
	width:100%;
	height:80px;
}

.marquee2
{
	width:85%;
	height:80px;
	margin:0 auto;
	font-size:20px;
	padding-top:30px;

}
.personal1
{
	width:100%;
	height:500px;
	background:#e5e5e5;
}

.personal2
{
	width:35%;
	height:400px;
	background:white;
	margin-left:2.5%;
	float:left;
	padding:20px;
	line-height:25px;
	margin-top:50px;
}
.personal3
{
	width:35%;
	height:400px;
	background:white;
	margin-left:2.5%;
	float:left;
	text-align:justify;
	margin-top:50px;
}
.personal4
{
	width:18%;
	height:300px;
	background:white;
	padding: 20px;
	margin-left:2.5%;
	margin-top:50px;
	float:left;
}
.nav1 ul li
{
	 display:inline-block;
	 font-size:11px;
	 padding:15px;

}
.nav1 ul 
{
	width:100%;    
	background:#e5e5e5;
}
.nav1 li:hover
{
	background:white;
	color:orange;
}
.nav2
{   padding:20px 40px;
	padding-left:50px;
	padding-top:50px;
}
.nav2
{
	line-height:40px;
	font-size:17px;
}
.nav3 ul li
{
	text-style:none;
}
.p1{
	 width:79px;
	 border:1px solid grey;
	 background:#9e6b22;
	 color:white;
}
.colo1
{
	padding-left:25px;

}
.colo2
{
	text-align:center;
	line-height:25px;
}
.image1
{
	width:100%;
	height:650px;
	background:white;
}
.image2
{
	width:30%;
	height:600px;
	background:#e5e5e5;
	padding:20px;
	float:left;
	margin-top:30px;
	margin-left:2.5%;
	border:1px solid grey;
}
.image3
{
	width:30%;
	height:600px;
	background:#e5e5e5;
	margin-left:2.5%;
	padding:20px;
	margin-top:30px;
	float:left;
	border:1px solid grey;
}
.image4
{
	width:30%;
	height:600px;
	background:#e5e5e5;
	margin-left:2.5%;
	padding:20px;
	margin-top:30px;
	float:left;
	border:1px solid grey;
}
.demo1
{
	width:100%;
	padding-top:10px;
	height:120px;
	
}
.im1
{
	float:left;
}
.c1
{
	float:left;
	color:blue;
	margin-left:10px;
	margin-top:5px;
}
.demo2
{
	width:100%;
	height:120px;

}
.im2
{
	float:left;
}
.c2
{
	float:left;
	color:red;
	margin-left:15px;
	margin-top:10px;
}
.demo3
{
	width:100%;
	height:120px;

}
.im3
{
	float:left;
}
.c3
{
	float:left;
	color:green;
	margin-left:15px;
	margin-top:10px;
}
.demo4
{
	width: 100%;
	height:120px;

}
.im4
{
	float: left;
}
.c4
{
	float:left;
	color:#cc4647;
	margin-left:15px;
	margin-top:10px;
}
.demo5
{
	width:100%;
	height:100px;
	border-bottom:1px solid grey;
}
.c5
{
	padding-top:80px;
}
.demo6
{
	width:100%;
	height:140px;
	border-bottom:1px solid grey;
}
.c6
{
	line-height:20px;
	padding-top:20px;
}
.c7
{
	padding-top:30px;
}
.demo7
{
	width:100%;
	height:160px;
	border-bottom:1px solid grey;
}
.c8
{  
	line-height:20px;
	padding-top:20px;
}
.c9
{
	padding-top:50px;
}
.demo8
{
	width:100%;
	height:140px;
}
.c10
{
	padding-top:30px;
	line-height:20px;
}
.demo9
{
	width:100%;
	height:40px;
	margin-top:10px;
}
.c11
{
	float:left;
}
.c12
{
	float:left;
	font-size:16px;
	padding-top:7px;
	padding-left:7px;
}
.demo10
{
	width:100%;
	height:40px;
	margin-top:10px;
}
.c13
{
	float:left;
}
.c14
{
	float:left;
	font-size:16px;
	padding-top:9px;
	padding-left:7px;
}
.demo11
{
	width:100%;
	height:40px;
	margin-top:10px;
}
.c15
{
	float:left;

}
.c16
{
	float:left;
	font-size:16px;
	padding-top:9px;
	padding-left:7px;
}
.demo12
{
	width:100%;
	height:40px;
	margin-top:10px;
}
.c17
{
	float:left;

}
.c18
{
	float:left;
	font-size:16px;
	padding-top:9px;
	padding-left:7px;
}
.demo13
{
	width:100%;
	height:40px;
	margin-top:10px;
}
.c19
{
	float:left;

}
.c20
{
	float:left;
	font-size:16px;
	padding-top:9px;
	padding-left:7px;
}
.demo14
{
	width:100%;
	height:40px;
	margin-top:10px;
}
.c21
{
	float:left;

}
.c22
{
	float:left;
	font-size:16px;
	padding-top:9px;
	padding-left:7px;
}
.demo15
{
	width:100%;
	height:40px;
	margin-top:10px;
}
.c23
{
	float:left;

}
.c24
{
	float:left;
	font-size:16px;
	padding-top:9px;
	padding-left:7px;
}
.demo16
{
	width:100%;
	height:40px;
	margin-top:10px;
}
.c25
{
	float:left;

}
.c26
{
	float:left;
	font-size:16px;
	padding-top:9px;
	padding-left:7px;
}
.demo17
{
	width:75px;
	padding:10px;
	margin-top:30px;
	color:white;
	background:#9e6b22;
	border:1px solid grey;
}
.map1
{
	width:100%;
	height:450px;
}
.map2
{
	width:22%;
	height:350px;
	margin-left:2.5%;
	float:left;
	margin-top:30px;


}
.map3
{
	width:22%;
	height:350px;
	margin-left:2.5%;
	padding:20px;
	float:left;
	margin-top:30px;

}
.map4
{
	width:22%;
	height:350px;
	margin-left:2.5%;
	padding:20px;
	float:left;
	margin-top:30px;


}
.map5
{
	width:22%;
	height:350px;
	margin-left:2.5%;
	padding:20px;
	float:left;
	margin-top:30px;


}

.demo21
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c31
{
	float:left;
}
.c32
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}
.demo22
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c33
{
	float:left;
}
.c34
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}

.demo23
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c35
{
	float:left;
}
.c36
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}


.demo24
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c37
{
	float:left;
}
.c38
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}


.demo25
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c39
{
	float:left;
}
.c40
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}

.demo26
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c41
{
	float:left;
}
.c42
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}

.demo27
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c43
{
	float:left;
}
.c44
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}
.demo28
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c45
{
	float:left;
}
.c46
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}

.demo29
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c47
{
	float:left;
}
.c48
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}

.demo30
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c49
{
	float:left;
}
.c50
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}
.demo31
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c51
{
	float:left;
}
.c52
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}

.demo32
{
	width: 100%;
	height:40px;
	margin-top:20px;
}
.c53
{
	float:left;
}
.c54
{
	float:left;
	padding-top:10px;
	padding-left:10px;

}

.gallary1
{
	width:100%;
	height:700px;
	background:#100e32;
}
.gallary2
{
	width:50%;
	height:700px;
	padding-top:60px;
	float:left;
}
.gallary3
{
	width:90%;
	height:300px;
	margin-left:5%;
	background:white;
}
.menu2 ul li
{
	display:inline-block;
	font-size:20px;
	padding:20px 20px;
}
.menu2 ul li:hover
{
	background:black;
	color:white;
}

.content11
{
	width:50%;
	height:700px;
	color:white;
	float:left;
}
.content12
{
	width:45%;
	height:400px;
	margin-top:40px;
	margin-left:20px;
	float:left;
}
.content13
{
	width:45%;
	height:400px;
	margin-top:40px;
	margin-left:20px;
	float:left;
}
.content14
{
	width: 45%;
	height:200px;
	margin-top:40px;
	margin-left:20px;
	float:left;

}
.content15
{
	width: 45%;
	height:200px;
	margin-top:40px;
	margin-left:20px;
	float:left;

}
.u61
{
	 padding:20px 10px;
	 line-height:33px;
	 font-size:17px;
	padding-left:50px;
	margin-top:20px;
}
.u62
{   
	padding:20px 10px;
	 line-height:33px;
	 font-size:17px;
	padding-left:50px;
	padding-top:40px;
}
.u63
{
	padding:20px 10px;
	line-height:33px;
	font-size:20px;
	margin-left:30px;
	padding-top:40px;
}
.c100
{
	width:75px;
	padding:10px;
	margin-left:30px;
	background: #9e6b22;
}
.u64
{
	margin-left:60px;
	font-size:17px;
	border:1px solid grey;
}
.u65
{   
	padding:20px 10px;
	 line-height:33px;
	 font-size:17px;
	padding-left:50px;
	padding-top:40px;
}
.banner11 
{
	width:90%;
	margin:0 auto;
	display:inline-block;
	height:100px;

}
marquee ul li{
	list-style: none;
	display:inline-block;
}

.concept1
{
	width: 100%;
	height:60px;
	background:black;
	color:white;

}
.c71 ul li
{
	display:inline-block;
	padding:20px 40px;
}
.concept2
{
	width:100%;
	height:130px;
	color:white;
	line-height:30px;
	background:#0c0c0c;
	border-bottom:1px solid grey;
}
.concept3
{
	width:100%;
	height:100px;
	background:#0c0c0c;
}
.c75
{
	width:43%;
	height:100px;
	float:left;
	border-right:1px solid grey;
}
.c76
{
	width:14%;
	height:100px;
	float:left;
	border-right:1px solid grey;
}
.c77
{
	width:43%;
	height:100px;
	float:left;
}








@media only screen and (max-width:800px)
{
	header ul  .m1
	{
		width:50%;
		text-align:center;
	}
	header ul .m2
	{
		width:49%;
	}
	header ul .m5
	{
		width:20%;
		padding-left:20px;
		text-align:center;
	}
	header 
	{
		height:76px;

	}
	header ul .li3,.li1,.li11
	{
		width:0%;
		padding:0px;
		border:0px;
	}
	header ul li.m3
	{	
		width:0px;
		padding:0px;
		font-size:0px;
		display:block;
	}
	.logo4
	{
		display:none;
	}
	.menu1 ul li
	{
		width:100%;

		
	}
	.menu1 
	{
		height:200px;
		border-bottom:none;
	}
   .game1
	{
		width:100%;
		margin-top:233px;
	}
   .banner2
	{
		width:100%;
	}
	.marquee1
	{
		width:100%;
	}

	.personal2
  {
	width:100%;
	height:400px;
	background:white;
	margin-left:0%;
	padding:10px;
	line-height:25px;
	margin-top:0px;
}

   .personal3
{
	width:100%;
	height:400px;
	background:white;
	margin-left:0%;
	float:left;
	text-align:justify;
	margin-top:50px;
}
.personal4
{
	width:100%;
	height:300px;
	background:white;
	padding: 0px;
	margin-left:0%;
	text-align:center;
	margin-top:70px;
	float:left;
}

.image2
{
	width:100%;
	height:600px;
	background:#e5e5e5;
	padding:0px;
	float:left;
	margin-top:0px;
	margin-left:0%;
	border:1px solid grey;
}
.image3
{
	width:100%;
	height:600px;
	background:#e5e5e5;
	padding:0px;
	float:left;
	margin-top:50px;
	margin-left:0%;
	border:1px solid grey;
}
.image4
{
	width:100%;
	height:600px;
	background:#e5e5e5;
	padding:0px;
	float:left;
	margin-top:50px;
	margin-left:0%;
	border:1px solid grey;
}

.map1
{
	width:100%;
	height:450px;
}

.map2
{
	width:50%;
	height:350px;
	margin-left:0%;
	float:left;
	margin-top:30px;


}
.map3
{
	width:50%;
	height:350px;
	margin-left:0%;
	padding:0px;
	float:right;
	margin-top:30px;

}
.map4
{
	width:50%;
	height:350px;
	margin-left:0%;
	padding:0px;
	float:left;
	margin-top:30px;


}
.map5
{
	width:50%;
	height:350px;
	margin-left:0%;
	padding:0px;
	float:left;
	margin-top:30px;


}
.gallary1
{
	width:100%;
	height:1150px;
	margin-top:2350px;
	background:#100e32;
}
.gallary2
{
	width:100%;
	height:500px;
	padding-top:60px;
	float:left;
}
.gallary3
{
	width:100%;
	height:300px;
	margin-left:0%;
	background:white;
}
.content11
{
	width:100%;
	height:700px;
	color:white;
	float:left;
}
.content12
{
	width:50%;
	height:300px;
	margin-top:0px;
	margin-left:0px;
	float:left;
}
.content13
{
	width:50%;
	height:400px;
	margin-top:0px;
	margin-left:0px;
	float:left;
}
.content14
{
	width:50%;
	height:150px;
	margin-top:0px;
	margin-left:0px;
	float:left;

}
.content15
{
	width:50%;
	height:150px;
	margin-top:0px;
	margin-left:0px;
	float:left;

}
.banner11 
{
	width:100%;
	margin:0 auto;
	height:100px;

}
marquee ul li{
	list-style: none;
	display:inline-block;
}

.concept1
{
	width: 100%;
	height:300px;
	background:black;
	color:white;

}
.c71 ul li
{
	
 display:block;
}
.concept2
{
	width:100%;
	height:260px;
	color:white;
	line-height:30px;
	background:#0c0c0c;
	border-bottom:1px solid grey;
}
.concept3
{
	width:100%;
	height:100px;
	background:#0c0c0c;
}
.c75
{
	width:30%;
	height:100px;
	float:left;
	border-right:1px solid grey;
	padding:20px;
	 float:left;

}
.c76
{
	width:35%;
	height:100px;
	margin-left:5px;
	padding:20px;
	float:left;
	border-right:1px solid grey;
}
.c77
{
	width:30%;
	height:100px;
	float:left;
}

}



@media only screen and (max-width:600px)
{
	header ul  .m1
	{
		width:50%;
		text-align:center;
	}
	header ul .m2
	{
		width:49%;
	}
	header ul .m5,.m6
	{
		width:20%;
		padding-left:20px;
		text-align:center;
	}
	header ul.m6
	{
		padding:0px;
	}
	header 
	{
		height:76px;

	}
	header ul .li3,.li1,.li11
	{
		width:0%;
		padding:0px;
		border:0px;
	}
	header ul li.m3
	{	
		width:0px;
		padding:0px;
		font-size:0px;
		display:block;
	}
	.logo3
	{
		font-size:13px;
	}
	.logo4
	{
		display:none;
	}
	.menu1 ul li
	{
		width:100%;

		
	}
	.menu1 
	{
		height:250px;
		border-bottom:none;
	}
   .game1
	{
		width:100%;
		margin-top:233px;
	}
   .banner2
	{
		width:100%;
	}
	.marquee1
	{
		width:100%;
	}

	.personal2
  {
	width:100%;
	height:400px;
	background:white;
	margin-left:0%;
	padding:0px;
	line-height:25px;
	margin-top:0px;
}

   .personal3
{
	width:100%;
	height:500px;
	background:white;
	margin-left:0%;
	float:left;
	text-align:center;
	text-align:justify;
	margin-top:50px;
}
.personal4
{
	width:100%;
	height:400px;
	background:white;
	padding: 0px;
	margin-left:0%;
	text-align:center;
	margin-top:100px;
	float:left;
}

.image2
{
	width:100%;
	height:600px;
	background:#e5e5e5;
	padding:0px;
	float:left;
	text-align:center;
	margin-top:0px;
	margin-left:0%;
	border:1px solid grey;
}
.image3
{
	width:100%;
	height:600px;
	background:#e5e5e5;
	padding:0px;
	float:left;
	text-align:center;
	margin-top:50px;
	margin-left:0%;
	border:1px solid grey;
}
.image4
{
	width:100%;
	height:600px;
	background:#e5e5e5;
	padding:0px;
	float:left;
	text-align:center;
	margin-top:50px;
	margin-left:0%;
	border:1px solid grey;
}

.map2
{
	width:100%;
	height:350px;
	margin-left:0%;
	float:left;
	margin-top:30px;


}
.map3
{
	width:100%;
	height:350px;
	margin-left:0%;
	padding:0px;
	float:left;
	margin-top:30px;

}
.map4
{
	width:100%;
	height:350px;
	margin-left:0%;
	padding:0px;
	float:left;
	margin-top:30px;


}
.map5
{
	width:100%;
	height:350px;
	margin-left:0%;
	padding:0px;
	float:left;
	margin-top:30px;


}
.gallary1
{
	width:100%;
	height:1550px;
	margin-top:3400px;
	background:#100e32;
}
.gallary2
{
	width:100%;
	height:500px;
	padding-top:60px;
	float:left;
}
.gallary3
{
	width:100%;
	height:300px;
	margin-left:0%;
	background:white;
}
.content11
{
	width:100%;
	height:700px;
	color:white;
	float:left;
}
.content12
{
	width:100%;
	height:300px;
	margin-top:0px;
	margin-left:0px;
	float:left;
}
.content13
{
	width:100%;
	height:400px;
	margin-top:0px;
	margin-left:0px;
	float:left;
}
.content14
{
	width:100%;
	height:150px;
	margin-top:0px;
	margin-left:0px;
	float:left;

}
.content15
{
	width:100%;
	height:150px;
	margin-top:0px;
	margin-left:0px;
	float:left;

}
.banner11 
{
	width:100%;
	margin:0 auto;
	height:100px;

}
marquee ul li{
	list-style: none;
	display:inline-block;
}

.concept1
{
	width: 100%;
	height:300px;
	background:black;
	color:white;

}
.c71 ul li
{
	
 display:block;
}
.concept2
{
	width:100%;
	height:260px;
	color:white;
	line-height:30px;
	background:#0c0c0c;
	border-bottom:1px solid grey;
}
.concept3
{
	width:100%;
	height:100px;
	background:#0c0c0c;
}
.c75
{
	width:30%;
	height:100px;
	float:left;
	border-right:1px solid grey;
	padding:20px;
	 float:left;

}
.c76
{
	width:35%;
	height:100px;
	margin-left:5px;
	padding:20px;
	float:left;
	border-right:1px solid grey;
}
.c77
{
	width:30%;
	height:100px;
	float:left;
}







}

	



@media only screen and (max-width:1000px)
{
	header ul  .m1
	{
		width:49%;
	}
	header ul .m2
	{
		width:50%;
	}
	header ul .m5
	{
		width:20%;
		padding-left:20px;
		text-align:center;
	}
	header 
	{
		height:76px;

	}
	header ul .li3,.li1,.li11
	{
		width:0%;
		padding:0px;
	}
	header ul li.m3
	{	
		width:0px;
		padding:0px;
		font-size:0px;
		display:block;
	}

	.menu1 li
	{
		width:25%;
	}
	.banner1
	{
		width:100%;
	
	}
	.marquee1
	{
		width:100%;
	}
	.personal2,.personal3,.personal4
	{
		width:30%;

	}
	.image2
	{
		width:100%;
	}
	.image3
	{
		width:100%;
	}
	.image4
	{
		width:100%;
	}
}





@media only screen and (max-width:1200px)
{
	header ul  .m1
	{
		width:49%;
	}
	header ul .m2
	{
		width:50%;
	}
	header ul .m5
	{
		width:20%;
		padding-left:20px;
	}
	header 
	{
		height:76px;

	}
	header ul .li3,.li1,.li11
	{
		width:0%;
		padding:0px;
	}
	header ul li.m3
	{	
		width:0px;
		padding:0px;
		font-size:0px;
		display:block;
	}
	.banner1
	{
		width:100%;
	}
		

	.marquee1
	{
		width:100%;
	}
	.personal2,.personal3,.personal4
	{
		width:100%;
	}
	



}		